:root {
  --primary-color: #9efccf;
  --secondary-color: #caa1f2;
  --third-color: #1a28ab;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --primary-font: "Inconsolata", monospace;
}

body {
  margin: 60px auto;
  max-width: 800px;
}

h1,
h2,
h3 {
  text-align: center;
  color: var(--third-color);
}

h1 {
  font-size: 64px;
  padding: 10px 5px;
  font-family: Secular One;
}
h2,
h3,
p {
  font-family: var(--primary-font);
}
h2 {
  font-size: 42px;
  padding: 40px 5px 10px 5px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
  margin-top: 20px;
  font-weight: bolder;
}

p {
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 100px;
  padding: 60px 27px;
  font-weight: normal;
  font-size: 20px;
  text-decoration: none;
  text-transform: capitalize;
  font-family: var(--primary-font);
}

.contact-link {
  background: white;
  box-shadow: var(--box-shadow);
  color: var(--third-color);
  border: 1px solid white;
}

.homepage-link {
  color: var(--third-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.background-one {
  background: #f1f1f1;
}
.background-two {
  background: white;
}
.launch-button a {
  color: var(--third-color);
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  border: var(--primary-color);
  padding: 10px;
  border-radius: 5px;
  margin: 6px;
  text-decoration: none;
  font-weight: 18px;
  text-align: center;
}
.launch-button a:hover {
  color: blue;
  cursor: pointer;
}
@media (max-width: 576px) {
  h1,
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 16px;
    color: var(--third-color);
    font-weight: bold;
    opacity: 1;
  }
  .launch-button a {
    display: block;
    margin: 10px 20px;
  }
}
